{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div>
        <h1>Welcome to the Creative Store</h1>
        <p>
          Discover unique posters and stickers at The Creative Store, your ultimate destination for artistic expression. Dive into a world of creativity, where every design tells a story and imagination knows no limits.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div>
        <h2>
          New posters
        </h2>
        <div>
          <h4>
            <a href="#" class="btn">Shop now</a>
          </h4>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}
